<p>List your sales here</p>

<% @sales.each do |person| %>
 <% @employees.each do |employee| %>
    <ul>
    <% if person['last_name'] == employee.last_name %>
        <%= employee.full_name %>
        Gross Sales:
        <%= person["gross_sale_value"] %>
        <%= "Totla Commision:" %> <%= employee.total_commission %>
      <%end%>
    </ul>
    <%end%>
<%end%>