<p>List your sales here</p>

<% @sales.each do |person| %>
 <% @employees.each do |employee| %>
    <ul>
    <% if person['last_name'] == employee.last_name %>
      <%= employee.first_name %> <%=employee.last_name %> <%=person["gross_sale_value"]%> 
      <%end%>
    </ul>
    <%end%>
<%end%>